.Chat-panel {
    top: 0;
    left: 1025px;
    width: 35%;
    height: 700px;
    z-index: 0;
    position: absolute;
  }

.Send-button {
    float: right;
}

.Announcement-button {
    top: 730px;
    left: 1035px;
    z-index: 1;
    position: absolute;
}
